

:root{
    --primary-colors:#000;
    --btn-blue-color:#0057FF;
    --btn-green-color:#15A800;
    --btn-header-color:#ffffff;
   
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Inter', sans-serif;
   
}

.logo{
    color:var(--primary-colors);
    font-size: 1.875em;
    font-weight: 800;    
}

.header{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
     align-items: center;
}

.header-btn{
    height: 40px;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    align-items: center;    
    border: 2px solid #000;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
   
}

.txtmenu{
    padding-left: 1rem;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;

}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* overlay menu */
.overlay {
    opacity: 0;
    height:100%;
    width:40%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -100%;
    background-color: rgb(0,0,0);   
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.1s ease;
    overflow:none;
  }
  
  .menu-container{
    position: relative;
    display: flex;
    flex-direction: row;
    top: 10%;
    width: 100%;
    height: 100vh;
    justify-content: flex-start;
    text-align: center;
   
  }



/* hamberger icon */

.menu-icon{
    height:36px;
    width: 26px;
    margin-left: 1rem;
    border-radius: 5px;   
    position: relative;     
    cursor: pointer; 
    z-index: 999;  
}

.menu-icon span {
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: black;
    border-radius: 4rem;
    transform: translate(-50%,-50%);
    transition: 0.5s,width 0.5s;
}

.menu-icon .line-1 {
    
    transform: translate(-50%,-10px);
}

.menu-icon .line-3 {
   
    width: 50%;
    transform: translate(0,7px);
}

.openmenu .line-1{   
    background:white;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.openmenu .line-2{   
    background: white;   
    transform: translate(-50%,-50%) rotate(45deg);
}
 
.openmenu .line-3{ 
    background: white;   
    transform:  translate(-50%,15px);  
    width: 80%;
}

.second-section{
    display: flex;
    flex-direction: column;
      
}

.second-section a{
    text-decoration: none;
    color: #ffffff;
    text-align:start;

}

.herorow{
    margin-top: 5rem;
    align-items: center;
}

h1{
    margin: 0;
    padding: 0;
    color: #000;
    /* font-size: 4.375rem; */
    font-size: calc(1.5rem + 2.5vw);
    font-weight: 800;
    letter-spacing:-0.05rem;
     line-height: calc()5rem;
}

.subheading{
    color: #000;
    font-size: 1.375rem;
    line-height: 1.875rem;
}

.btnblack{
    margin-left: 0.875rem;
    display: flex;
    justify-content: center; 
    padding: 1rem;
    align-items: center;
    color: #ffffff;
    background-color: #000;
    letter-spacing: 0.25em;
}

.btnblue{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-left: 1rem;
    align-items: center;
   color: #ffffff;
   background-color:#0057FF;
   letter-spacing: 0.25em;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-size:1.125rem ;
   font-weight: 500;
    
}

.txtnodsp{
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
}

.txtexp{
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    
}

.demo{    
    margin-left: 15%;
}
.txtheading{
font-size: 0.875rem;
font-weight: 500;
letter-spacing: 0.25em;
opacity: 0.5;
color: #000;
}

.featurelist{
/* margin-left: calc((100vw - 100%) / -2); */
font-style: normal;
font-weight: bold;
font-size: 3rem;
line-height: 5rem;
letter-spacing: -0.05em;
color: #000;

}

.techlist{
font-style: normal;
font-weight: 500;
font-size: 0.875rem;
line-height: 2.188rem;
letter-spacing: 0.25em;
color: #ffffff;
}

.featurecolmn{
display: flex;
flex-direction: column;
justify-content: flex-start;

}

.techcolmn{
    display: flex;
    flex-direction: column;
    }

.testimonial{
    background-color: #000;
    display: flex;
    flex-direction: column; 
}

.rowmargin{
    margin-left: 15%;
}

.custombg{
    background:linear-gradient(
        to right, 
        #ffffff 0%, 
        #ffffff 50%, 
        #000000 50%, 
        #000000 100%
      );
    
      }

.custombg2{
    background:linear-gradient(
        to right, 
        #000000 0%, 
        #000000 50%, 
        #ffffff 50%, 
        #ffffff 100%
      );
      

}




.techsubheading{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2.188rem;
    letter-spacing: 0.25em;
    opacity: 0.5;
    color: #fff; 
}


.techcolmn p{
        padding-left: 3rem;
        font-size:2.25rem;
        font-weight: bold;
        line-height: 3.75rem;
        letter-spacing: -0.05em;        
        color: #fff; 
    
}

.worksubheading{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2.188rem;
    letter-spacing: 0.25em;
    opacity: 0.5;
    color: #000; 
    text-transform: uppercase;
}


.cutompera{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;   
    color: #000; 
}
.logo{
    width: 260px;
    height: 65px;
}

.social-icon{
    width: 36px;
    height: 36px;
}

.link{
    font-size: 0.75rem;
    color: #0057FF;
    letter-spacing: 0.25em;
    line-height: 1.5rem;
    font-weight: bold;

}

.toppadding{
    padding-top: 5rem;
}

.topmargin{
    margin-top: 5rem;
}

.txttitle{
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.25em;
    opacity: 0.5;
    color: #000;
    line-height:2.1875 ;
}

.pera{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
}

.peralang{
    font-weight: 500;
    font-size: 00.75rem;
    line-height: 1.5rem;
    color: #000;
    opacity: 0.5;
}

.workdetail{
    display: flex;  
    flex-direction: column;
    justify-content: center;
}

.contact-heading{
    font-size: 0.875rem;
    font-weight:700;
    line-height: 2.188rem;
    letter-spacing: 0.25em;
    color: #000;
    opacity: 0.5;
}

.title{
    font-size:1.875rem ;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 2.188rem;
    color: #000;

}

.contact-pera{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    color: #000;
}

.btncontact-black{
    background-color: #000;
}
.btncontact-green{
    background-color: #15A800;
}


.btncontact{
    height: 60px;
    width: 369px;
    color: #fff;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon-p{
    padding-left: 2rem;
    padding-right: 2rem;
}

.resetpadding{
    padding-left: 0;
    padding-right: 0;
}

pre {
    display: flex;
    white-space: normal;
    word-break: break-word;
    }
@media only screen and (max-width: 767px) {
    .custombg{
        background:linear-gradient(
            to bottom, 
            #ffffff 0%, 
            #ffffff 50%, 
            #000000 50%, 
            #000000 100%
          );
          
    }
     .custombg2{
        background:linear-gradient(
            to bottom, 
            #000000 0%, 
            #000000 65%, 
            #ffffff 65%, 
            #ffffff 100%
          );
     }

}  

.testimonial-title{
    font-size: 0.875rem;
    line-height: 2.188rem;
    color: #fff;
    letter-spacing: 0.25em !important;
    font-weight: 700;
}

.testimonial-p{
    position: relative;
    text-align: left;
    font-size: 1.375rem;
    line-height: 1.875rem;
    color: #fff;
    font-weight: normal;
}
.testimonial-footer{
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.5rem;
    color: #fff;
    font-weight: 500;
}

.star{
    display: inline-flex;
    height:24px;
    width: 22px;
    background-image:url(/images/star.svg);
}

.review{
text-align: left;
}
.quote-img{
   
    height:68px ;
    width:78px ;
    background-image: url(/images/quote.svg);
    position: absolute;
    transform: translate(-110px,-45px);

}

.nav{
    margin-top: -20px;
    opacity: 0;

}
.nav a{
    text-decoration: none;
    color: white;
}

.nav-link{
    font-size: calc(1.5rem + 1.5vw);
    transition: all 0.1s ease-in-out;
}
.nav-link:hover{
    color:darkgray;
}

.heroleft{
   animation:moveDown 1s ease-in-out forwards;
   opacity: 0;
}

@keyframes moveDown{
    from{
     transform:translateY(-100px);
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

