

:root{
    --primary-colors:#000;
    --btn-blue-color:#0057FF;
    --btn-green-color:#15A800;
    --btn-header-color:#ffffff;
   
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Inter', sans-serif;
}

.logo{
    color:var(--primary-colors);
    font-size: 1.875em;
    font-weight: 800;    
}

.header{
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
     align-items: center;
}

.header-btn{
    height: 40px;
    width: 160px;
    padding: 0.5rem;
    display: inline;       
    border: 2px solid #000;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
   
}

.txtmenu{
    padding-left: 1rem;
    color: #000;
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;

}


.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* overlay menu */
.overlay {
    height: 100%;
    width:0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 25px;;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    overflow-y: hidden;
    transition: 0.5s;
    overflow:none;
  }
  
  .overlay-content {
    position: relative;
    display: flex;
    flex-direction: row;
    top: 10%;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
  }



/* hamberger icon */

.menu-icon{
    height:36px;
    width: 26px;
    margin-left: 1rem;
    border-radius: 5px;   
    position: relative;     
    cursor: pointer; 
    z-index: 999;  
}

.menu-icon span {
    height: 4px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    background: black;
    border-radius: 4rem;
    transform: translate(-50%,-50%);
    transition: 0.5s ,width 0.5s;
}

.menu-icon .line-1 {
    transform: translate(-50%,-10px);
}

.menu-icon .line-3 {
    width: 50%;
    transform: translate(0,7px);
}

.openmenu .line-1{   
    background:white;
    transform: translate(-50%,-50%) rotate(-45deg);
}

.openmenu .line-2{   
    background: white;
   transform: translate(-50%,-50%) rotate(45deg);
}
 
.openmenu .line-3{ 
    background: white;
   transform:  translate(-50%,15px);  
   width: 80%;
}

.second-section{
    display: flex;
    flex-direction: column;
      
}

.second-section a{
    text-decoration: none;
    color: #ffffff;
    text-align:start;

}

.herorow{
    margin-top: 5rem;
    align-items: center;
}

h1{
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 4.375rem;
    font-weight: 800;
    letter-spacing:-0.370rem;
}

.subheading{
    color: #000;
    font-size: 1.375rem;
    line-height: 1.875rem;
}

.btnblack{
    margin-left: 0.875rem;
    display: flex;
    justify-content: center; 
    padding: 1rem;
    align-items: center;
    color: #ffffff;
    background-color: #000;
    letter-spacing: 0.25em;
}

.btnblue{
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-left: 1rem;
    align-items: center;
   color: #ffffff;
   background-color:#0057FF;
   letter-spacing: 0.25em;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-size:1.125rem ;
   font-weight: 500;
    
}

.txtnodsp{
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
}

.txtexp{
    font-size: 1rem;
    font-weight: bold;
    color: #000;
    
}

.demo{    
    margin-left: 15%;
}
.txtheading{
font-size: 0.875rem;
font-weight: 500;
letter-spacing: 0.25em;
opacity: 0.5;
color: #000;
}

.featurelist{
/* margin-left: calc((100vw - 100%) / -2); */
font-style: normal;
font-weight: bold;
font-size: 3rem;
line-height: 5rem;
letter-spacing: -0.05em;
color: #000;

}

.techlist{
font-style: normal;
font-weight: 500;
font-size: 0.875rem;
line-height: 2.188rem;
letter-spacing: 0.25em;
color: #ffffff;
}

.featurecolmn{
display: flex;
flex-direction: column;
justify-content: flex-start;

}

.techcolmn{
background-color: #000;
display: flex;
flex-direction: column;

}

.testimonial{
    background-color: #000;
    display: flex;
    flex-direction: column; 
}

.rowmargin{
    margin-left: 15%;
}

.custombg{
    background:linear-gradient(
        to right, 
        #ffffff 0%, 
        #ffffff 50%, 
        #000000 50%, 
        #000000 100%
      );
}
.techsubheading{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2.188rem;
    letter-spacing: 0.25em;
    opacity: 0.5;
    color: #fff; 
}


.techcolmn p{
        padding-left: 3rem;
        font-size:2.25rem;
        font-weight: bold;
        line-height: 3.75rem;
        letter-spacing: -0.05em;        
        color: #fff; 
    
}

.worksubheading{
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 2.188rem;
    letter-spacing: 0.25em;
    opacity: 0.5;
    color: #000; 
    text-transform: uppercase;
}


.cutompera{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;   
    color: #000; 
}
.logo{
    width: 260px;
    height: 65px;
}

.social-icon{
    width: 36px;
    height: 36px;
}

.link{
    font-size: 0.75rem;
    color: #0057FF;
    letter-spacing: 0.25em;
    line-height: 1.5rem;
    font-weight: bold;

}

.toppadding{
    padding-top: 5rem;
}

.topmargin{
    margin-top: 5rem;
}

.txttitle{
    font-size: 0.75rem;
    font-weight: 700;
    letter-spacing: 0.25em;
    opacity: 0.5;
    color: #000;
    line-height:2.1875 ;
}

.pera{
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
}

.peralang{
    font-weight: 500;
    font-size: 00.75rem;
    line-height: 1.5rem;
    color: #000;
    opacity: 0.5;
}

.workdetail{
    display: flex;
  
    flex-direction: column;
    justify-content: center;
}

.contact-heading{
    font-size: 0.875rem;
    font-weight:700;
    line-height: 2.188rem;
    letter-spacing: 0.25em;
    color: #000;
    opacity: 0.5;
}

.title{
    font-size:1.875rem ;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 2.188rem;
    color: #000;

}

.contact-pera{
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    color: #000;
}

.btncontact-black{
    background-color: #000;
}
.btncontact-green{
    background-color: #15A800;
}


.btncontact{
    height: 60px;
    width: 369px;
    color: #fff;
    letter-spacing: 0.25em;
    font-style: normal;
    font-weight: bold;
    font-weight: 700;
    font-size: 1.125rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.icon-p{
    padding-left: 2rem;
    padding-right: 2rem;
}
